.link-active {
  color: var(--orange);
}

button {
  cursor: pointer;
  white-space: nowrap;
}

.link {
  margin: 0;
  background: none;
  border: none;
  color: color(var(--invert));

  &:hover {
    color: color(var(--orange));
  }

  &:disabled {
    cursor: not-allowed;
    color: color(var(--orange) saturation(0%));
  }
}

.button {
  margin: 0;
  padding: 0 0.75rem;
  height: 2rem;
  border: none;
  color: white;
  background-color: color(white lightness(70%));

  &:hover {
    background-color: color(white lightness(80%));
  }

  &[role="submit"] {
    background-color: var(--orange);

    &:hover {
      background-color: color(var(--orange) lightness(-10%));
    }

    &:disabled {
      cursor: not-allowed;
      color: color(white lightness(70%));
      background-color: color(white lightness(80%));
    }
  }

  &[role="cancel"] {
    background-color: color(var(--orange) saturation(0%));

    &:hover {
      background-color: color(var(--orange) saturation(0%) lightness(-10%));
    }

    &:disabled {
      cursor: not-allowed;
      color: color(white lightness(70%));
      background-color: color(white lightness(80%));
    }
  }
}

.slide-transition {
  transition: all .5s ease;
}
.slide-enter, .slide-leave {
  opacity: 0;
  transform: translate3d(0, -1rem, 0);
}

.fade-transition {
  transition: all .5s ease;
}
.fade-enter, .fade-leave {
  opacity: 0;
}
