.link-active {
  color: var(--orange);
}

button {
  cursor: pointer;
  margin: 0;
  padding: 0.25rem 0.75rem;
  height: 2rem;
  line-height: 1.5rem;
  border: none;
  color: color(white lightness(30%));
  background-color: color(white lightness(70%));

  &:hover {
    background-color: color(white lightness(80%));
  }

  &[disabled] {
    color: color(white lightness(70%));
    background-color: color(white lightness(80%));
  }
}
