.ui-grid-card {

  [data-role="actions"] {
    position: absolute;
    top: 0.25rem;
    right: 0.25rem;

    span {
      display: none;
    }

    button {
      cursor: pointer;
      background: none;
      border: none;
      color: color($white lightness(-50%));
      height: 1.6rem;
      line-height: 1.1rem;
      margin: 0;
      padding: 0;
      vertical-align: middle;

      &:hover {
        color: $orange;
      }

      &:before {
        font-family: 'iconfont';
        font-style: normal;
        font-size: 120%;
        margin-right: 0.3em;
      }

      &[disabled] {
        color: color($white lightness(-30%));
        cursor: default;
      }
    }

    .button-del-item {
      &:before {
        content: '\e623';
      }
    }

    .button-edit-item {
      &:before {
        content: '\e61e';
      }
    }
  }

  button {
    input {
      vertical-align: middle;
      margin-right: 0.15rem;
    }
  }

  .cards {
    margin: 0 -0.25rem;
    overflow: hidden;
  }

  .card {
    display: block;
    float: left;
    padding: 0 0.25rem 0.5rem;
    width: 25%;
    min-width: 12rem;
    box-sizing: border-box;
  }

  .card-wrapper {
    box-sizing: border-box;
    border: 1px solid color($white lightness(-20%));
    background-color: color($white lightness(-6%));
    box-shadow: 1px 1px 1px color($white lightness(-6%));
    padding: 0.5rem;
    position: relative;
  }

  .card-header {
    background-color: color($white lightness(-10%));
    margin: -0.5rem -0.5rem 0.5rem;
    padding: 0.5rem;
    min-height: 1.05rem;
    -webkit-user-select: none;

    &:empty {
      display: none;
    }

    label {
      display: block;
    }
  }

  .selected {
    .card-header {
      background-color: color($white lightness(-15%));
    }
  }

  [data-role="cell-key"] {
    color: color($white lightness(-50%));

    &:after {
      content: '：';
    }
  }

}
