.ui-grid-view {
  font-size: 0.7rem;

  li {
    margin-bottom: 0.5rem;
    padding: 0.5rem;
    background-color: color($white lightness(-3%));
    border: 1px solid color($white lightness(-10%));

    &:hover {
      background-color: $white;
    }
  }

  .label {
    cursor: default;
    font-weight: bold;
  }

  .value {
    cursor: default;
    color: color($white lightness(-60%));
  }

  .back {
    cursor: pointer;
    margin: 0.5rem 0 0;
    padding: 0.25rem 1.5rem;
    height: 1.6rem;
    line-height: 1.1rem;
    color: $white;
    background-color: $orange;
    border: none;

    &:hover {
      background-color: color($orange lightness(-10%));
    }
  }

}
