
@import '../utils/var';
@import './sort';

.description{
  p{
    font-weight: bold;
  }
  span,.special{
    color:red;
  }
  .special{
    font-size: 0.8rem;
  }
}

.ui-dialog-content, .ui-dialog-message{
  min-height: 1.6rem;
}

.visible-nodes{
  min-height: 1.6rem;
}
.iconfont-visibleStrategy{
  &:before{
    content:'\e60a';
  }
}

.iconfont-add{
  cursor: pointer;
  &:before {
    content: '\e618';
    font-size: 1.2rem;
  }
}

.target-items{
  position: relative;
  display: inline-block;
}

.target-item{
  position: relative;
  display: inline-block;
  margin-right: 0.75rem;
  margin-bottom: 0.25rem;
  background-color: orange;
  color:$white;
  border: 1px solid orange;
  padding: 0.25rem 0.75rem;
  &:hover{
    .target-item-del{
      display: inline-block;
    }
  }
}

.target-item-del{
  position: absolute;
  left:98%;
  top: -0.5rem;
  width:0.8rem;
  height: 0.8rem;
  display: none;
  &:before{
    cursor: pointer;
    background-color: $white;
    color:$black;
    border-radius: 50%;
  }
}

