.ui-foli {
  table {
    width:100%;
    border-collapse: collapse;
  }
  th, td {
    text-align: center;
    vertical-align: middle;
    padding: 2px;
  }

  .bordered th,td {
    border: 1px solid #f0f0f0;
  }

  #submit {
    background-color: #279e30;
  }

  #submit:hover {
    background-color: #1b8223;
  }

  .btn_panel {
    border-collapse:inherit;
    margin-top: 50px;
    border: none;
  }

  .btn_panel button {
    width:100%;
  }

}
