@import '../utils/var';

.ui-page-category {

  .footer {
    border-top: 1px solid color($white lightness(-6%));

    button {
      transition-property: background-color;
      transition-duration: 200ms;
      padding: 0.3rem 0 0.2rem;
      width: 100%;
      cursor: pointer;
      border: none;
      background-color: $white;

      &:hover {
        color: $orange;
        background-color: color($orange alpha(10%));
      }
    }
  }
}

.ui-page-categories {
  border: 1px solid color($white lightness(-20%));

  .categories {
  }

  .category {
    margin: 0.5rem;
  }

  .category-content {
    padding: 0.5rem;
    background-color: color($white lightness(-6%));

    &:hover {
      .category-buttons {
        opacity: 1;
      }
    }
  }

  .category-buttons {
    opacity: 0;
    transition-property: opacity;
    transition-duration: 200ms;
    float: right;
    line-height: 0.8rem;

    .iconfont {
      cursor: pointer;
      background: none;
      border: none;

      &:before {
        margin-right: 0;
      }

      &:hover {
        color: $orange;
      }
    }
  }
}

.ui-page-items {
  border: 1px solid color($white lightness(-6%));

  .items {
  }

  .item {
    border-top: 1px solid color($white lightness(-6%));
  }

  .item-content {
    padding: 0.5rem;
    background-color: $white;

    &:hover {
      .item-buttons {
        opacity: 1;
      }
    }
  }

  .item-buttons {
    opacity: 0;
    transition-property: opacity;
    transition-duration: 200ms;
    float: right;
    line-height: 0.8rem;

    .iconfont {
      cursor: pointer;
      background: none;
      border: none;

      &:before {
        margin-right: 0;
      }

      &:hover {
        color: $orange;
      }
    }
  }

  img,
  h4 {
    display: inline-block;
    vertical-align: middle;
  }

  img {
    width: 0.8rem;
    height: 0.8rem;
  }
}
