@import '../utils/var';

.ui-form-items-inline [data-role=form-item] {
  position: relative;
}

.pollList button[disabled] {
  display: none;
}

.poll-form {
  input[readonly] {
    background-color: $white;
  }
  input[disabled] {
    background-color: color($white lightness(-6%));
  }
  .ui-select-disabled {
    background-color: $white;
    border: 0;
    &:after {
      background: none;
    }
  }

  .ui-form-item {
    margin: 0 2.5rem .5rem 10rem;
    &>label {
      width: 9.75rem;
      margin: 0 0 0 -10rem;
    }
  }
  .ui-form-group {
    margin: 0 2.5rem 0 10rem;
    .ui-form-item {
      margin: 0 0 .5rem 0;
    }
    &>label {
      width: 9.75rem;
      margin: 0 0 0 -10rem;
    }
  }
  .ui-form-items-inline {
     margin-right: 0;
     margin-left: 0;
  }

  .ui-form-buttons {
    padding: 1rem 2.5rem 0 10rem;
  }
  .sep {
    line-height: 1.6rem;
  }
}

.poll-result {
  position: relative;
  padding-top: 2.5rem;
  max-width: 50rem;
  input[disabled] {
    background-color: $white;
    border: 0;
  }
  .ui-form-items-inline li {
  	flex: 0 auto;
  	line-height: 1.6rem;
  }
  .ui-form-buttons {
    position: absolute;
    padding: 0;
    top: 0;

    .ui-form-button {
      background-color: color($orange saturation(0%) lightness(-10%));
      &:hover {
        background-color: color($orange saturation(0%));
      }
    }
  }
}


/**
 * @items
 */

.iconfont-batch-add {
  &:before {
    content: '\e602';
  }
}

.ui-page-item {
  width: 100%;
}

.ui-page-items {

  .footer {
    border-top: 1px solid color($white lightness(-6%));

    button {
      transition-property: background-color;
      transition-duration: 200ms;
      padding: .15rem 0 .1rem;
      width: 100%;
      font-size: .8rem;
      cursor: pointer;
      border: none;
      background-color: $white;

      &:hover {
        color: $orange;
        background-color: color($orange alpha(10%));
      }
      &:before {
        font-size: .9rem;
      }

      &:first-child {
        border-bottom: 1px solid color($white lightness(-6%));
      };
    }
  }
}

.ui-page-categories {
  border: 1px solid color($white lightness(-20%));

  .categories {
  }

  .category {
    margin: .5rem;
  }

  .category-content {
    padding: .5rem;
    background-color: color($white lightness(-6%));

    &:hover {
      .category-buttons {
        opacity: 1;
      }
    }
  }

  .category-buttons {
    opacity: 0;
    transition-property: opacity;
    transition-duration: 200ms;
    float: right;
    line-height: 1.6);

    .iconfont {
      cursor: pointer;
      background: none;
      border: none;

      &:before {
        margin-right: 0;
      }

      &:hover {
        color: $orange;
      }
    }
  }
}

.ui-page-items {
  border: 1px solid color($white lightness(-6%));

  .items {
  }

  .item {
    border-top: 1px solid color($white lightness(-6%));
  }

  .item-content {
    padding: .5rem;
    background-color: $white;

    &:hover {
      .item-buttons {
        opacity: 1;
      }
    }
  }

  .item-buttons {
    opacity: 0;
    transition-property: opacity;
    transition-duration: 200ms;
    float: right;
    line-height: 3rem;

    .iconfont {
      cursor: pointer;
      background: none;
      border: none;

      &:before {
        margin-right: 0;

      }

      &:hover {
        color: $orange;
      }
    }
  }

  img,
  h3 {
    display: inline-block;
    width: 9rem;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    display: inline-block;
    vertical-align: middle;

    padding-left: 1.5rem;
    padding-right: 3rem;
  }

  img {
    width: 4rem;
    height: 3rem;
  }
}


.ui-form-poll-items {
  input[readOnly] {
    background-color: $white;
    border: 0;
  }
}

#tips {
   color:gray;
   font-size:10px;
}
