.ui-pagination {

  a {
    display: inline-block;
    cursor: pointer;
    padding: 0.15rem 0.4rem;
    height: 0.9rem;
    line-height: 0.9rem;
    border: none;
    text-decoration: none;

    &:hover {
      background-color: color($white lightness(-6%));
    }
  }


  [disabled] {
    color: color($white lightness(-20%));
    cursor: default;

    &:hover {
      background: none;
    }
  }

  .current {
    cursor: default;
    background-color: color($white lightness(-15%));

    &:hover {
      background-color: color($white lightness(-15%));
    }
  }

  .hellip {
    background: none;
    cursor: default;

    &:hover {
      background: none;
    }
  }

  form {
    display: inline-block;
  }

  input {
    height: 1rem;
    line-height: 1rem;
    text-align: center;
    border: 1px solid color($white lightness(-30%));
  }

  button {
    cursor: pointer;
    margin: 0 0.25rem 0 0;
    padding: 0.25rem 0.5rem;
    height: 1.1rem;
    line-height: 0.6rem;
    color: color($orange saturation(0%) lightness(-10%));
    background-color: color($white saturation(0%) lightness(+20%));
    border: none;

    &:hover {
      background-color: color($white saturation(0%) lightness(+10%));
    }
  }

}
