.c-button {
  white-space: nowrap;
  width: 100%;
  line-height: 3;
  color: white;
  background-color: color(white lightness(70%));
  border-radius: 0.25rem;

  &:active {
    background-color: color(white lightness(80%));
  }

  &.xlarge {
    font-size: 1.44rem;
  }

  &.large {
    font-size: 1.2rem;
  }

  &.small {
    font-size: 0.8rem;
  }

  &.xsmall {
    font-size: 0.64rem;
  }

  &.primary {
    background-color: var(--primary);

    &:active {
      background-color: color(var(--primary) lightness(+10%));
    }

    &:disabled {
      cursor: not-allowed;
      color: color(white lightness(70%));
      background-color: color(white lightness(80%));
    }
  }

  &.warning {
    background-color: var(--error);

    &:active {
      background-color: color(var(--error) lightness(+10%));
    }

    &:disabled {
      cursor: not-allowed;
      color: color(white lightness(70%));
      background-color: color(white lightness(80%));
    }
  }

  &.default {
    color: color(white lightness(-80%));
    background-color: color(white lightness(-20%));

    &:active {
      background-color: color(white lightness(-10%));
    }

    &:disabled {
      cursor: not-allowed;
      color: color(white lightness(70%));
      background-color: color(white lightness(80%));
    }
  }
}
