.c-calendar {
  position: absolute;
  background-color: white;
  width: 14rem;
}

.c-calendar-header {
  text-align: center;
  font-size: 1.5em;
}

.c-calendar-months {
  position: absolute;
  padding: 1rem;
  background-color: white;
  & span {
    display: block;
    float: left;
    width: 4rem;
    height: 4rem;
    line-height: 4rem;
    text-align: center;
    font-weight: bold;
  }
}

.c-calendar-days {
  height: 2rem;
  & span {
    display: block;
    float: left;
    width: 2rem;
    height: 2rem;
    line-height: 2rem;
    text-align: center;
    font-weight: bold;
  }
}

.c-calendar-dates {
  & span {
    display: block;
    float: left;
    width: 2rem;
    height: 2rem;
    line-height: 2rem;
    text-align: center;
    cursor: pointer;

    &:hover {
      background-color: color(white lightness(90%));
    }

    &.today {
      color: color(var(--invert));
    }

    &.selected {
      color: var(--orange);
    }

    &.empty {
      cursor: default;
      &:hover {
        background-color: transparent;
      }
    }
  }
}
