.ui-cascade-trigger {
  display: block;
  background-color: $white;
  padding: 4px 16px 4px 6px;
  height: 1.6rem;
  line-height: 1.1rem;
  border: 1px solid color($black lightness(80%));
  cursor: pointer;
  position: relative;
  max-width: 100%;
  box-sizing: border-box;
  overflow: hidden;
  text-overflow: ellipsis;
  text-decoration: none;

  &:after {
    position: absolute;
    right: 1px;
    top: 7px;
    content: '';
    display: block;
    width: 15px;
    height: 15px;
    background: url('../sprites/icon/down.png') no-repeat 0 0;
  }

  &:hover,
  &:focus {
    text-decoration: none;
    border-color: color($black lightness(60%));
  }
}

.ui-cascade {
  a {
    display: inline-block;
    padding: 0.35rem 1rem;
    text-align: center;
    text-decoration: none;
    outline: 0;
  }
}

.ui-cascade-tab {
  border: 1px solid color($black lightness(80%));
  border-left: none;
  height: 35px;
  background: color($white lightness(-6%));

  a {
    float: left;
    border-left: 1px solid color($black lightness(80%));
    color: color($black lightness(20%));
  }
}

a.ui-cascade-active {
  background: $white;
  border-bottom: 1px solid $white;
  color: $orange;
}

.ui-cascade-content {
  border: 1px solid color($black lightness(80%));
  border-top: 0;
  padding: 0.5rem;
  background: $white;
  font-size: 0.6rem;
  overflow: auto;
  max-height: 5.9rem;
}

.ui-cascade-selected {
  color: $white;
  background-color: $orange;
}

.ui-cascade-item-hover {
  color: $orange;
  background-color: color($orange alpha(30%));
}
