.c-cell {
  display: flex;
  flex-direction: row;
  padding: 1rem;
  border-top: 1px solid color(white lightness(-10%));

  &:first-child {
    border-top: none;
    border-radius: inherit;
  }

  &:last-child {
    border-bottom-left-radius: inherit;
    border-bottom-right-radius: inherit;
  }

  &:active {
    background-color: color(var(--secondary) alpha(10%))
  }
}

.c-cell-icon {
  flex: none;
  margin-right: 0.3em;
}

.c-cell-labe {
  flex: none;
  margin-right: 0.3em;
}

.c-cell-value {
  flex: auto;
  text-align: right;
}
