.c-cell {
  display: flex;
  flex-direction: row;
  padding: 1rem;
  border-top: 1px solid color(white lightness(-10%));

  &:first-child {
    border-top: none;
  }
}

.c-cell-icon {
  flex: none;
}

.c-cell-label {
  flex: none;
}

.c-cell-value {
  flex: auto;
  text-align: right;
}
