.c-checkbox {
  height: 48px; /*px*/

  & input {
    appearance: none;
    display: inline-block;
    text-align: center;
    width: 80px; /*px*/
    height: 48px; /*px*/
    border: 1px solid color(white lightness(80%)); /*no*/
    border-radius: 24px; /*px*/
    background: color(white lightness(80%));
    position: relative;

    &::before,
    &::after {
      content: ' ';
      background-color: white;
      border-radius: 24px; /*px*/
      position: absolute;
      left: 0;
      top: 0;
      height: 46px; /*px*/
      transition: transform 0.5s ease;
    }

    &::before {
      width: 100%; /*px*/
    }

    /* as a dot */
    &::after {
      vertical-align: top;
      width: 46px; /*px*/
      background-color: white;
      box-shadow: 0 1px 3px rgba(0, 0, 0, 0.4); /*no*/
    }
  }

  &.checked {
    & input {
      border-color: var(--primary);
      background-color: var(--primary);

      &::before {
        transform: scale3d(0, 0, 0);
      }

      &::after {
        transform: translate3d(68%, 0, 0); /*px*/
      }
    }
  }
}
