.c-checkbox {
  color: var(--orange);
  height: 1.5rem;

  &.checked {
    color: var(--invert);
  }

  & label {
    display: inline-block;
    vertical-align: middle;
    transform: translateY(-2px);
  }

  & input {
    transform: translateY(-2px);
    display: inline-block;
    vertical-align: middle;
    appearance: none;
    position: relative;
    width: 3rem;
    height: 1.5rem;
    border: 1px solid color(white lightness(80%));
    outline: 0;
    border-radius: 1.5rem;
    box-sizing: border-box;
    background: color(white lightness(80%));

    &:after,
    &:before {
      content: " ";
      position: absolute;
      top: 0;
      left: 0;
      height: 1.4rem;
      border-radius: 0.7rem;
      transition: transform .3s;
    }

    &:before {
      width: 3rem;
      background-color: color(white lightness(90%));
    }

    &:after {
      width: 1.5rem;
      background-color: white;
      box-shadow: 0 1px 3px rgba(0, 0, 0, 0.4);
    }
  }

  & input:checked {
    border-color: var(--invert);
    background-color: var(--invert);
  }

  & input:checked:before {
    transform: scale(0);
  }

  & input:checked:after {
    transform: translateX(1.4rem);
  }
}
