.c-datetime {
  & input {
    color: color(black lightness(+40%));
    text-align: right;
    outline: none;
    box-sizing: border-box;
    background-color: transparent;
    border: none;
    width: 100%;
    height: inherit;
  }
}
