.c-form {
}

.c-form-title {
  padding: 1rem 1rem 0.5rem;
  color: color(white lightness(-40%));
  font-size: 1rem;
  font-weight: normal;
  text-align: center;
}

.c-form-cells {
  background-color: white;
  border: 1px solid color(white lightness(-10%));
  border-radius: 0.25rem;
}

.c-form-cell {
  display: flex;
  flex-direction: row;
  padding: 1rem;
  border-top: 1px solid color(white lightness(-10%));

  &:first-child {
    border-top: none;
    border-radius: inherit;
  }

  &:last-child {
    border-bottom-left-radius: inherit;
    border-bottom-right-radius: inherit;
  }

  &:active {
    background-color: color(var(--invert) alpha(10%))
  }
}

.c-form-cell-icon {
  flex: none;
  margin-right: 0.3em;
}

.c-form-cell-labe {
  flex: none;
  margin-right: 0.3em;
}

.c-form-cell-value {
  flex: auto;
  text-align: right;
}

/* 输入框独占一行 */
.c-form-expand {
  & .c-form-cell {
    display: block;
  }

  & .c-form-cell-icon {
    flex: none;
    display: inline-block;
  }

  & .c-form-cell-label {
    flex: none;
    display: inline-block;
  }

  & .c-form-cell-value {
    flex: none;
    text-align: left;
  }

  & .c-form-field {
    text-align: left;
  }

  & .c-password-toggle {
    position: absolute;
    right: 0;
    top: 0;
    left: auto;
  }

  & .c-password-input {
    padding-right: 1.8rem;
    padding-left: 0;
  }
}
