.ui-form {
  padding: 1rem 0;
}

.ui-form-errors {
  padding: 0 0 1rem;
}

.ui-form-error {
  margin: 0 0 0.5rem;
  padding: 0.3rem 0.3rem 0.3rem 0.8rem;
  cursor: default;
  color: var(--text_warning);
  background-color: var(--bg_warning);
  list-style-type: square;
  list-style-position: inside;
}

.ui-form-input,
.ui-form-select,
.ui-form-textarea,
.ui-form-static {
  display: inline-block;
  border: 1px solid color(black lightness(80%));
  padding: 0.2rem 0.3rem;
  width: 100%;
  min-height: 2rem;
  line-height: 1.5rem;
  background-color: white;
  outline: none;
  /*border-radius: 0.25rem;*/
  box-sizing: border-box;

  &:hover,
  &:focus {
    border-color:  color(var(--orange) hue(+180deg) lightness(-30%));
  }

  &[readonly] {
    background-color: color(white lightness(-6%));
  }

  &[disabled] {
    background-color: color(white lightness(-3%));
  }

  &[size] {
    width: auto;
  }
}

.ui-form-select {
  height: 2rem;
}

.ui-form-prefix,
.ui-form-suffix {
  display: inline-block;
  border-top: 1px solid color(black lightness(80%));
  border-bottom: 1px solid color(black lightness(80%));
  padding: 0.2rem 0.3rem;
  min-height: 2rem;
  line-height: 1.5rem;
  background-color: color(black lightness(90%));
  outline: none;
  box-sizing: border-box;
}

.ui-form-prefix {
  border-left: 1px solid color(black lightness(80%));
}

.ui-form-suffix {
  border-right: 1px solid color(black lightness(80%));
  margin-left: -0.2rem;
}

.ui-form-comment {
  padding: 0.2rem 0.05rem;
  color: color(white lightness(-40%));
}

.ui-form-input {
  &::-ms-clear {
    display: none;
  }
}

.ui-form-textarea {
  resize: vertical;
}

.ui-form-items {
  & label {
  display: block;
    line-height: 32px;

    &:after {
      content: '：';
    }
  }
}

.ui-form-item {
  margin: 0 0 0.5rem;
  position: relative;
  cursor: default;
}

.ui-form-icon-item {
  & .ui-form-input,
  & .ui-form-textarea,
  & .ui-form-static {
    padding-left: 1.5rem;
  }
}

.ui-form-icon {
  position: absolute;
  min-width: 1.5rem;
  min-height: 2rem;
  line-height: 2rem;
  text-align: center;
  color: color(black lightness(50%));
  &:before {
    margin: 0;
  }
}

.ui-form-buttons {
  padding: 1rem 0 0;

  & .button {
    margin: 0 0.5rem;
    padding: 0 1.5rem;

    &:first-child {
      margin-left: 0;
    }

    &:last-child {
      margin-right: 0;
    }
  }
}
