.ui-form {
  padding: 1rem 0;
}

.ui-form-input,
.ui-form-textarea,
.ui-form-static {
  display: inline-block;
  border: 1px solid color(black lightness(80%));
  padding: 0.2rem 0.3rem;
  width: 100%;
  min-height: 1.6rem;
  line-height: 1.1rem;
  background-color: white;
  outline: none;
  box-sizing: border-box;

  &:hover,
  &:focus {
    border-color:  color(var(--orange) hue(+180deg) lightness(-30%));
  }

  &[readonly] {
    background-color: color(white lightness(-6%));
  }

  &[disabled] {
    background-color: color(white lightness(-3%));
  }

  &[size] {
    width: auto;
  }
}

.ui-form-prefix,
.ui-form-suffix {
  display: inline-block;
  border-top: 1px solid color(black lightness(80%));
  border-bottom: 1px solid color(black lightness(80%));
  padding: 0.2rem 0.3rem;
  min-height: 1.6rem;
  line-height: 1.1rem;
  background-color: color(black lightness(90%));
  outline: none;
  box-sizing: border-box;
}

.ui-form-prefix {
  border-left: 1px solid color(black lightness(80%));
}

.ui-form-suffix {
  border-right: 1px solid color(black lightness(80%));
  margin-left: -0.2rem;
}

.ui-form-comment {
  padding: 0.2rem 0.05rem;
  color: color(white lightness(-40%));
}

.ui-form-input {
  &::-ms-clear {
    display: none;
  }
}

.ui-form-textarea {
  resize: vertical;
}

.ui-form-items {
  & label {
    line-height: 32px;

    &:after {
      content: '：';
    }
  }
}

.ui-form-item {
  margin: 0 0 0.5rem;
  position: relative;
  cursor: default;
}

.ui-form-icon-item {
  & .ui-form-input,
  & .ui-form-textarea,
  & .ui-form-static {
    padding-left: 1.2rem;
  }
}

.ui-form-icon {
  position: absolute;
  left: 1px;
  top: 1px;
  padding: 0.25rem;
  color: color(black lightness(50%));
}

.ui-form-buttons {
  padding: 1rem 0 0;
}

.ui-form-button {
  cursor: pointer;
  margin: 0 0.5rem 0 0;
  padding: 0.25rem 1.5rem;
  height: 1.6rem;
  line-height: 1.1rem;
  color: white;
  background-color: var(--orange);
  border: none;

  &:hover {
    background-color: color(var(--orange) lightness(-10%));
  }

  &[disabled] {
    background-color: color(var(--orange) saturation(0%));
  }
}

.button-form-cancel {
  background-color: color(var(--orange) saturation(0%) lightness(-10%));

  &:hover {
    background-color: color(var(--orange) saturation(0%));
  }
}

.ui-form-errors {
  padding: 0 0 1rem;
}

.ui-form-error {
  margin: 0 0 0.5rem;
  padding: 0.3rem 0.3rem 0.3rem 0.8rem;
  cursor: default;
  color: var(--text_warning);
  background-color: var(--bg_warning);
  list-style-type: square;
  list-style-position: inside;
}
