.ui-grid {
  width: 100%;
  border-collapse: collapse;

  & th {
    border-bottom: 2px solid color(white lightness(80%));
    user-select: none;
    text-align: left;
    white-space: nowrap;
  }

  & td {
    border-top: 1px solid color(white lightness(80%));
  }

  & th,
  & td {
    /*min-width: 6rem;*/
    padding: 0.5rem 1rem;

    &.index {
      width: 1rem;
    }
  }

  & tr:hover {
    & td {
      background-color: color(white lightness(90%));
    }
  }

  & .button {
    padding: 0;
    height: auto;
    line-height: inherit;
    background: none;
    color: color(var(--orange) hue(+180deg) lightness(-30%));

    &:hover {
      color: var(--orange);
    }
  }
}
