.c-link {
  display: inline-block;
  line-height: 3;
  color: var(--text);
  text-align: center;

  &:active,
  &:focus {
    background-color: color(white blackness(+15%));
  }

  &:disabled {
    cursor: not-allowed;
    color: var(--disabled);
  }

  &.xlarge {
    font-size: dpr(40px);
  }

  &.large {
    font-size: dpr(36px);
  }

  &.small {
    font-size: dpr(28px);
  }

  &.xsmall {
    font-size: dpr(24px);
  }

  &.primary {
    color: var(--primary);

    &:active,
    &:focus {
      color: color(var(--primary) blackness(+15%));
    }

    &:disabled {
      color: var(--disabled);
    }
  }

  &.warning {
    color: var(--warning);

    &:active,
    &:focus {
      color: color(var(--warning) blackness(+15%));
    }

    &:disabled {
      color: var(--disabled);
    }
  }
}
