.c-loading {
  text-align: center;

  & .snake {
    animation: c-loading-snake-rotate 0.8s infinite linear;
    border-color: color(white lightness(80%)) transparent color(white lightness(80%)) color(white lightness(80%));
    border-style: solid;
    border-width: flexible(8px);
    border-radius: 50%;
    width: flexible(88px);
    height: flexible(88px);
    display: inline-block;
  }

  & .xlarge {
    width: flexible(132px);
    height: flexible(132px);
    border-width: flexible(12px);
  }

  & .large {
    width: flexible(110px);
    height: flexible(110px);
    border-width: flexible(10px);
  }

  & .small {
    width: flexible(66px);
    height: flexible(66px);
    border-width: flexible(6px);
  }

  & .xsmall {
    width: flexible(44px);
    height: flexible(44px);
    border-width: flexible(4px);
  }
}

@keyframes c-loading-snake-rotate {
  0% {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(1turn);
  }
}
