.c-paginator {
  margin: 1rem 0 0;
  padding: 1rem 0;
  text-align: center;
  border-top: 1px solid color(white lightness(-10%));

  & a {
    display: inline-block;
    margin-right: 0.5rem;
    padding: 0.375rem 0.75rem;
    color: color(white lightness(-50%));
    text-decoration: none;

    &:hover {
      background-color: color(white lightness(-10%));
    }

    &.current {
      background-color: color(white lightness(-10%));
    }

    &.disabled {
      cursor: default;
      color: color(white lightness(-30%));
      background-color: transparent;
    }
  }
}
