.c-password {
  @mixin field-present;
  position: relative;
}

.c-password-input {
  @mixin field-editing;
  padding-left: 1.8rem;
}

.c-password-toggle {
  cursor: pointer;
  position: absolute;
  z-index: 1;
  left: 0;
  width: 1.5rem;
  height: 1.5rem;
  background: url(../images/view.svg) no-repeat center center;
  background-size: contain;
  opacity: 0.25;

  &.active,
  &:active {
    opacity: 0.75;
  }
}
