.c-password {
  @mixin field-present;
  position: relative;
}

.c-password-input {
  @mixin field-editing;

  padding-left: 1.8rem;

  &:focus {
    /*box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.075), 0 0 5px color(var(--secondary) alpha(50%));*/
  }
}

.c-password-toggle {
  position: absolute;
  z-index: 1;
  left: 0;
  width: 1.5rem;
  color: color(white lightness(-20%));

  &.active,
  &:active {
    color: color(white lightness(-40%));
  }
}
