.c-password {
  position: relative;

  & input {
    outline: none;
    box-sizing: border-box;
    background-color: inherit;
    border: none;
    width: 100%;
    height: inherit;
  }
}

.c-password-toggle {
  color: var(--disabled);
  cursor: pointer;
  position: absolute;
  z-index: 1;
  right: 0;

  &.active {
    color: color(var(--disabled) lightness(-20%));
  }
}
