.c-picker {
}

.c-picker-scroller {
  position: absolute;
  width: 100%;
  height: 14rem;
  z-index: 3;
  background:
  linear-gradient(180deg, rgba(255, 255, 255,.95),rgba(255, 255, 255,.6)),
  linear-gradient(0deg,rgba(255, 255, 255,.95),rgba(255, 255, 255,.6));
  background-repeat: no-repeat;
  background-position: top, bottom;
  background-size: 100% 6rem;
}

.c-picker-content {
}
