.c-picker {
  position: relative;
  overflow: hidden;
}

.c-picker-scroller {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 3;
  background: linear-gradient(180deg, rgba(255, 255, 255, 0.95), rgba(255, 255, 255, 0.6)), linear-gradient(0deg, rgba(255, 255, 255, 0.95), rgba(255, 255, 255, 0.6));
  background-repeat: no-repeat;
  background-position: top, bottom;
}

.c-picker-content {
  &.transition {
    transition: transform 0.2s linear;
  }

  & > * {
    text-align: center;
  }
}
