.c-range {
  position: relative;
  margin-right: dpr(60px);
  padding: dpr(28px);
}

.c-range-content {
  position: relative;
  margin-right: -dpr(60px);
  height: dpr(4px);
  background-color: var(--disabled);

  &::before {
    padding-left: inherit;
    min-height: dpr(4px);
    content: ' ';
    position: absolute;
    left: 0;
    background-color: var(--primary);
  }

  &::after {
    content: ' ';
    position: absolute;
    margin-top: -dpr(28px);
    margin-left: -dpr(28px);
    width: dpr(60px);
    height: dpr(60px);
    border-radius: 50%;
    background-color: white;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.4);
  }
}
