.c-row {
  padding: 20px; /*px*/
  font-size: 32px; /*px*/
  /* preventing horizontal scrollbar */
  position: relative;
  overflow: hidden;

  &.flex {
    display: flex;
    flex-direction: row;

    &:active {
      background-color: transparent;
    }
  }

  &:active {
    background-color: var(--disabled);

    & .link {
      &::after {
        border-color: var(--secondary);
      }
    }
  }

  &::before {
    content: ' ';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    border-bottom: 1px solid var(--disabled); /*no*/
    transform-origin: 0 0;
    transform: scaleY(.5);
  }

  &::after {
    content: ' ';
    position: absolute;
    left: 20px;
    bottom: 0;
    width: 100%;
    border-top: 1px solid var(--disabled); /*no*/
    transform-origin: 0 0;
    transform: scaleY(.5);
  }

  & ~ .c-row {
    &:before {
      content: none;
    }
  }

  &:last-child {
    &:after {
      left: 0;
    }
  }

  & .col {
    display: block;
    flex: 1 1 auto;
    flex-shrink: 0;
  }

  & .col-1 {
    flex-basis: 25%;
  }

  & .col-2 {
    flex-basis: 50%;
  }

  & .col-3 {
    flex-basis: 75%;
  }

  & .link {
    position: relative;
    &::after {
      content: ' ';
      position: absolute;
      right: 5px; /*px*/
      top: 20px; /*px*/
      width: 0.5em;
      height: 0.5em;
      border-width: 3px 3px 0 0; /*no*/
      border-color: var(--disabled);
      border-style: solid;
      transform: rotateZ(45deg);
      transform-origin: 75% 50%;
    }
  }
}
