.c-row {
  padding: dpr(20px);
  font-size: dpr(32px);
  position: relative;
  overflow: hidden; /* preventing horizontal scrollbar */

  &:active {
    background-color: color(var(--disabled) alpha(0.4));

    & .link {
      &::after {
        border-color: var(--secondary);
      }
    }
  }

  &-flex {
    display: flex;
    flex-direction: row;

    &:active {
      background-color: transparent;
    }
  }

  &::before {
    content: ' ';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    border-bottom: 1px solid var(--disabled);
  }

  &::after {
    content: ' ';
    position: absolute;
    left: dpr(20px);
    bottom: 0;
    width: 100%;
    border-top: 1px solid var(--disabled);
  }

  & ~ .c-row {
    &::before {
      content: none;
    }
  }

  &:last-child {
    &::after {
      left: 0;
    }
  }

  & .link {
    position: relative;
    padding: 0 dpr(30px) 0 0;

    &::after {
      content: ' ';
      position: absolute;
      right: dpr(5px);
      top: dpr(20px);
      width: 0.3em;
      height: 0.3em;
      border-width: dpr(4px) dpr(4px) 0 0;
      border-color: var(--disabled);
      border-style: solid;
      transform: rotateZ(45deg);
      transform-origin: 75% 50%;
    }
  }
}

html[dir="rtl"] {
  & .c-row {
    & .link {
      padding: 0 0 0 dpr(30px);

      &::after {
        left: dpr(5px);
        right: auto;
        top: dpr(16px);
        transform: rotateZ(225deg);
      }
    }
  }
}
