.c-spinner {
  text-align: center;
  vertical-align: middle;
  margin: dpr(8px);

  &.snake {
    animation: c-spinner-snake 0.8s infinite linear;
    border-color: color(white lightness(80%)) transparent color(white lightness(80%)) color(white lightness(80%));
    border-style: solid;
    border-width: dpr(8px);
    border-radius: 50%;
    width: dpr(88px);
    height: dpr(88px);
    display: inline-block;
  }

  &.xlarge {
    width: dpr(132px);
    height: dpr(132px);
    border-width: dpr(12px);
  }

  &.large {
    width: dpr(110px);
    height: dpr(110px);
    border-width: dpr(10px);
  }

  &.small {
    width: dpr(66px);
    height: dpr(66px);
    border-width: dpr(6px);
  }

  &.xsmall {
    width: dpr(44px);
    height: dpr(44px);
    border-width: dpr(4px);
  }
}

@keyframes c-spinner-snake {
  0% {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(1turn);
  }
}
