.ui-tabs {
}

.ui-tabs-nav {
  background-color:  color($white lightness(-5%));
  border-bottom: 1px solid color($white lightness(-10%));
  line-height: 1.75rem;
  &:after {
    content: "\200B";
    display: block;
    height: 0;
    clear: both;
  }
}

.ui-tabs-content {
}

.ui-tabs-trigger {
  float: left;
  padding: 0 1.1rem;
  cursor: pointer;

  &:first-of-type {
    padding-left: 1.5rem;
  }

  &:hover {
    border-bottom: 0.15rem solid color($white lightness(-30%));
  }

  &.ui-tabs-active {
    border-bottom: 0.15rem solid $orange;
  }
}

.ui-tabs-panel {
  display: none;
}
