.c-textfield {
  display: block;

  & input {
    display: block;
    color: color(black lightness(+40%));
    outline: none;
    box-sizing: border-box;
    background-color: inherit;
    border: none;
    width: 100%;
    height: inherit;
    appearance: none;
  }
}
