.ui-form.ui-view-dialog,
.ui-form-dialog {
  padding: 0.25rem 0.5rem 0.5rem;

  .ui-form-items {
    label {
      width: auto;
      text-align: left;
      position: static;
      margin: 0;
      color: color($white lightness(-50%));
    }
  }

  .ui-form-item,
  .ui-form-group {
    margin: 0 0 0.5rem;

    &.required {
      > label {
        &:before {
          float: right;
        }
      }
    }

    &.sep {
      margin: 0 0.25rem 0.5rem;
    }
  }

  .ui-form-items-inline {
    display: flex;
    margin-right: -0.25rem;
    margin-left: -0.25rem;

    .ui-form-item {
      flex: 1;
      margin-right: 0.25rem;
      margin-left: 0.25rem;

      &.sep {
        flex: 0 auto;
      }

      &.no-flex {
        flex: initial;
      }
    }
  }

  .ui-form-buttons {
    margin-top: 1rem;
    padding: 1rem 0 0 0;
    text-align: center;
    border-top: 1px solid color($white lightness(-6%));
  }

  .ui-form-button {
    margin: 0 0.25rem;
  }

  .ui-form-explain {
    padding-right: 0;
    position: absolute;
    right: 1px;
    top: 1px;
  }

  .radio-group,
  .checkbox-group {

    label {
      margin: 0 5px 0 0;
    }
  }

}
