@import "utils/resets";
@import "utils/iconfont";
@import "utils/globals";

.container {
  /*min-width: var(--page_min_width);*/
  /*background-color: white;*/
}

.header {
  height: var(--header_height);
  background-color: color(var(--invert) lightness(-30%));
}

.content {
  padding: 1rem;
}

.footer {
  clear: both;
  color: white;
  text-align: center;
  background-color: color(var(--invert) saturation(5%) lightness(40%));
  padding: 0.5rem;
}

.router-view {
  transition: all .5s ease;
}

.router-view-transition-enter, .router-view-transition-leave {
  opacity: 0;
  transform: translate3d(1rem, 0, 0);
}

[v-cloak] {
  display: none;
}
