@import "reset";
@import "iconfont";

#container {
  padding: flexible(88px) 0 0;
}

#header {
  position: fixed;
  z-index: 11;
  top: 0;
  left: 0;
  width: 100%;
  height: flexible(88px);
  background-color: color(white blackness(+5%));
}

#history {
  & .c-link {
    position: absolute;
    z-index: 1;
    width: flexible(88px);
    height: flexible(88px);
    line-height: flexible(88px);
    text-align: center;

    &:active {
      background-color: transparent;
    }
  }
}

#logo {
  position: absolute;
  z-index: 1;
  width: 100%;

  & a {
    display: block;
    height: flexible(88px);
    color: var(--text);
    font-size: flexible(32px);
    line-height: flexible(88px);
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: bold;
  }

  & sub {
    font-size: flexible(24px);
  }
}

[v-cloak] {
  display: none;
}

.link-active {
  color: var(--primary);
}

.slide-enter-active,
.slide-leave-active {
  transition: all .5s cubic-bezier(.55,0,.1,1);
}
.slide-enter,
.slide-leave-active {
  opacity: 0;
  transform: translate3d(0, -1rem, 0);
}

.slide-up-enter-active,
.slide-up-leave-active {
  transition: all 0.5s cubic-bezier(.55,0,.1,1);
}
.slide-up-enter,
.slide-up-leave-active {
  opacity: 0;
  transform: translate3d(0, 1rem, 0);
}

.slide-left-enter-active,
.slide-left-leave-active {
  transition: all 0.5s cubic-bezier(.55,0,.1,1);
}
.slide-left-enter,
.slide-left-leave-active {
  opacity: 0;
  transform: translate3d(1rem, 0, 0);
}

.fade-enter-active,
.fade-leave-active {
  transition: opacity 0.5s cubic-bezier(.55,0,.1,1);
}
.fade-enter,
.fade-leave-active {
  opacity: 0;
}
