@import "reset";
@import "iconfont";

.container {
  padding: 4rem 0 0;
}

.header {
  position: fixed;
  z-index: 11;
  top: 0;
  left: 0;
  width: 100%;
  height: 4rem;
  background-color: var(--secondary);
}

.router-view {
  transition: all .5s ease;
}

.router-view-transition-enter,
.router-view-transition-leave {
  opacity: 0;
  transform: translate3d(0, 1rem, 0);
}

[v-cloak] {
  display: none;
}

/*.link {
  color: var(--secondary);

  &:active {
    color: var(--primary);
  }

  &:disabled {
    cursor: not-allowed;
    color: color(var(--primary) saturation(0%));
  }
}*/

.link-active {
  color: var(--primary);
}

.slide-transition {
  transition: all .5s ease;
}
.slide-enter, .slide-leave {
  opacity: 0;
  transform: translate3d(0, -1rem, 0);
}

.slide-up-transition {
  transition: all .5s ease;
}
.slide-up-enter, .slide-up-leave {
  opacity: 0;
  transform: translate3d(0, 1rem, 0);
}

.fade-transition {
  transition: all .5s ease;
}
.fade-enter, .fade-leave {
  opacity: 0;
}
