.d-row {
  & .col {
    border: 1px solid var(--primary);
  }
}

.d-modal {
  & .title {
    font-size: dpr(48px);
  }

  & .content {
    font-size: dpr(32px);
  }
}

.d-image {
  & .no-src {
    background-color: var(--primary);
  }

  & .url {
    background-image: url(images/wx@2x.png);
  }
}
