@font-face {
  font-family: 'iconfont';
  src: url('./fonts/iconfont.woff') format('woff');
}

.iconfont-nav {
  &:before {
    @mixin iconfont;
    content: "\e603";
  }
}

.iconfont-remove,
.iconfont-delete {
  &:before {
    @mixin iconfont;
    content: "\e619";
  }
}
.iconfont-add,
.iconfont-create {
  &:before {
    @mixin iconfont;
    content: "\e606";
  }
}
.iconfont-pages {
  &:before {
    @mixin iconfont;
    content: "\e609";
  }
}
.iconfont-roles {
  &:before {
    @mixin iconfont;
    content: "\e61b";
  }
}
.iconfont-modify {
  &:before {
    @mixin iconfont;
    content: "\e60b";
  }
}
.iconfont-signup {
  &:before {
    @mixin iconfont;
    content: "\e607";
  }
}
.iconfont-users {
  &:before {
    @mixin iconfont;
    content: "\e615";
  }
}
.iconfont-user {
  &:before {
    @mixin iconfont;
    content: "\e601";
  }
}
.iconfont-profile {
  /*&:before {
    @mixin iconfont;
    content: "\e603";
  }*/
}
.iconfont-logout {
  &:before {
    @mixin iconfont;
    content: "\e608";
  }
}
.iconfont-login {
  &:before {
    @mixin iconfont;
    content: "\e601";
  }
}
.iconfont-about {
  &:before {
    @mixin iconfont;
    content: "\e60c";
  }
}
.iconfont-demo {
  &:before {
    @mixin iconfont;
    content: "\e604";
  }
}
.iconfont-duo {
  &:before {
    @mixin iconfont;
    content: "\e60d";
  }
}
.iconfont-solo {
  &:before {
    @mixin iconfont;
    content: "\e60a";
  }
}
.iconfont-chart {
  &:before {
    @mixin iconfont;
    content: "\e605";
  }
}
.iconfont-help {
  /*&:before {
    @mixin iconfont;
    content: "\e605";
  }*/
}
.iconfont-view {
  &:before {
    @mixin iconfont;
    content: "\e60e";
  }
}

.iconfont-user-o {
  &:before {
    @mixin iconfont;
    content: "\e616";
  }
}
.iconfont-lock-o {
  &:before {
    @mixin iconfont;
    content: "\e602";
  }
}
