@font-face {
  font-family: 'plato';
  src:
    url('./fonts/plato.ttf') format('truetype'),
    url('./fonts/plato.woff') format('woff'),
    url('./fonts/plato.svg#plato') format('svg');
  font-weight: normal;
  font-style: normal;
}
