.c-password {
  display: flex;

  & input {
    flex: 1 1 auto;
  }
}

.c-password-toggle {
  flex: 0 0 auto;
  color: var(--placeholder);
  cursor: pointer;

  &.active {
    color: color(var(--placeholder) lightness(-15%));
  }
}
