.iconfont-toggle {
  &:before {
    content: '\e640';
  }
}

.iconfont-global {
  &:before {
    content: '\e642';
    position: absolute;
    margin-left: -1.25rem;
  }
}

.collapsed {
  #header {
    h1 {
      width: 2.25rem;
      overflow: hidden;
    }
    .wrapper {
      margin-left: 2.25rem;
    }
  }
}

.ui-select-dark {
  background-color: color($dark_blue lightness(-3%));
  border-color: transparent;
  color: $white;

  .ui-select-hover {
    background-color: $dark_blue;
  }

  .ui-select-selected {
    background-color: $dark_blue;
  }
}

#header {
  position: fixed;
  z-index: 2;
  width: 100%;
  background-color: $dark_blue;
  a, span, em, label {
    color: $white;
    text-decoration: none;
  }
  h1 {
    position: absolute;
    left: 0;
    top: 0;
    width: $aside_width;
    overflow: hidden;
    background-color: $orange;
    transition: width 200ms linear;
    a {
      white-space: nowrap;
      display: block;
      height: $header_height;
      font-size: 0.9rem;
      font-weight: normal;
      line-height: $header_height;
      padding-left: 2.35rem;
      background: url('../images/logo.png') 0.3rem 50% no-repeat;
    }
  }
  button {
    float: left;
    color: $white;
    line-height: $header_height;
    cursor: pointer;
    background: none;
    border: none;
    padding: 0 0.5rem;
    &:hover {
      background-color: color($black alpha(10%));
    }
    &:before {
      margin-right: 0;
    }
  }
  .wrapper {
    margin-left: $aside_width;
    height: $header_height;
    transition: margin-left 200ms linear;
    ul {
      float: right;
    }
    li {
      float: left;
      line-height: $header_height;
      a {
        display: block;
      }
    }
  }
  .route-i18n {
    padding: 0.45rem;

    a {
      background-color: transparent;
      border-color: transparent;
      overflow: visible;

      &:hover {
        background-color: color($dark_blue lightness(-3%));
      }
    }

    .ui-select-opened {
      background-color: color($dark_blue lightness(-3%));
    }
  }
  .route-me {
    a {
      display: block;
      padding: 0 1.5rem;
      &:hover {
        background-color: color($dark_blue lightness(-3%));
      }
    }
    &.active {
      a {
        background-color: color($dark_blue lightness(-3%));
      }
    }
  }
  .route-logout {
    a {
      display: block;
      padding: 0 1.5rem;
      background-color: color($dark_blue lightness(-5%));
      &:hover {
        background-color: color($dark_blue lightness(-10%));
      }
    }
  }
  .profile {
    padding: 0.5rem;
    min-width: 5rem;
    color: $white;
    background-color: color($dark_blue lightness(-3%));
    cursor: default;
  }
  .profile-label {
    color: color($white lightness(-10%));
  }
  .avatar {
    width: 1.6rem;
    height: 1.6rem;
    border-radius: 50%;
    vertical-align: middle;
    background: color($dark_blue lightness(10%)) url('../images/a.png') no-repeat 50% 50%;
  }
}
