.c-password {
  display: block;
  position: relative;
}

.c-password-toggle {
  color: var(--placeholder);
  cursor: pointer;
  position: absolute;
  z-index: 1;
  right: 0;
  top: 0;

  &.active {
    color: color(var(--placeholder) lightness(-15%));
  }
}
