.c-navbar {
}

.c-navbar-toggle {
  float: right;
  width: var(--header_height);
  line-height: var(--header_height);
  text-align: center;
}

.c-navbar-menu {
  position: absolute;
  z-index: 9;
  top: var(--header_height);
  width: 100%;
  background-color: white;
  box-shadow: 0 1px 3px color(white lightness(-20%));
  /*transition: margin-left 200ms linear;*/

  & ul {
  }

  & li {
    & ul {
      display: none;
    }

    & li {
      display: block;

      & a {
        display: block;
      }
    }

    &:active {
      & ul {
        display: block;
        background-color: color(white lightness(-10%));
      }
    }
  }

  & a {
    display: block;
    padding: 0 1rem;
    line-height: var(--header_height);
    text-decoration: none;

    &:active {
      background-color: color(white lightness(-5%));
    }

    &.link-active {
      color: color(var(--invert) lightness(-10%));
      background-color: color(white lightness(-5%));
      & + ul {
        display: block;
        background-color: color(white lightness(-10%));

        & a {
          &.link-active {
            color: var(--invert);
            background-color: color(white lightness(-5%));
          }
        }
      }
    }
  }
}
