.navi {
  float: right;
  /*transition: margin-left 200ms linear;*/
  & a {
    display: inline-block;
    vertical-align: middle;
    /*float: left;*/
    /*margin: 0 0 0 0.5rem;*/
    padding: 0 1rem;
    line-height: var(--header_height);
    color: white;
    text-decoration: none;

    &:hover {
      background-color: color(var(--orange) hue(+180deg) lightness(-60%));
    }

    &.link-active {
      background-color: color(var(--orange) hue(+180deg) lightness(-60%));
    }
  }
}
