.nav {
  float: right;
  /*transition: margin-left 200ms linear;*/

  & ul {
    display: inline-block;
    vertical-align: middle;
  }

  & li {
    display: inline-block;
    vertical-align: middle;

    & ul {
      display: none;
    }

    & li {
      display: block;

      & a {
        display: block;
      }
    }

    &:hover {
      /*& .link-active + ul {*/
      & ul {
        display: block;
        position: absolute;
        z-index: 1;
        background-color: color(var(--invert) lightness(-30%));
      }
    }
  }

  & a {
    display: inline-block;
    vertical-align: middle;
    /*float: left;*/
    /*margin: 0 0 0 0.5rem;*/
    padding: 0 1rem;
    line-height: var(--header_height);
    color: white;
    text-decoration: none;

    &:hover {
      background-color: color(var(--invert) lightness(-30%));
    }

    &.link-active {
      background-color: color(var(--invert) lightness(-30%));
    }

    &.link-active + ul {
    }
  }
}
