.iconfont-dash {
  &:before {
    content: '\e662';
  }
}

.iconfont-devops {
  &:before {
    content: '\e65b';
  }
}

.iconfont-inter {
  &:before {
    content: '\e660';
  }
}

.iconfont-api {
  &:before {
    content: '\e656';
  }
}

.iconfont-dashboard {
  &:before {
    content: '\e60b';
  }
}

.iconfont-pack {
  &:before {
    content: '\e666';
  }
}

.iconfont-goods {
  &:before {
    content: '\e60d';
  }
}

.iconfont-log {
  &:before {
    content: '\e609';
  }
}

.iconfont-gift {
  &:before {
    content: '\e608';
  }
}

.iconfont-business {
  &:before {
    content: '\e600';
  }
}

.iconfont-rank {
  &:before {
    content: '\e661';
  }
}

.iconfont-config {
  &:before {
    content: '\e60a';
  }
}

.iconfont-policy {
  &:before {
    content: '\e604';
  }
}

.iconfont-group {
  &:before {
    content: '\e617';
  }
}

.iconfont-friend {
  &:before {
    content: '\e619';
  }
}

.iconfont-pool {
  &:before {
    content: '\e60d';
  }
}

.iconfont-agent {
  &:before {
    content: '\e61a';
  }
}

.iconfont-psp {
  &:before {
    content: '\e61c';
  }
}

.iconfont-tool {
  &:before {
    content: '\e61d';
  }
}

.iconfont-smiley {
  &:before {
    content: '\e61b';
  }
}

.iconfont-p2p {
  &:before {
    content: '\e61f';
  }
}

.iconfont-role {
  &:before {
    content: '\e621';
  }
}

.iconfont-microblog,
.iconfont-post {
  &:before {
    content: '\e626';
  }
}

.iconfont-forum {
  &:before {
    content: '\e639';
  }
}

.iconfont-coupons {
  &:before {
    content: '\e639';
  }
}

.iconfont-flower {
  &:before {
    content: '\e641';
  }
}

.iconfont-keyword {
  &:before {
    content: '\e613';
  }
}

.iconfont-user {
  &:before {
    content: '\e614';
  }
}

.iconfont-comment {
  &:before {
    content: '\e615';
  }
}

.iconfont-service {
  &:before {
    content: '\e616';
  }
}

.iconfont-rbac {
  &:before {
    content: '\e621';
  }
}

.iconfont-demo {
  &:before {
    content: '\e62a';
  }
}

.iconfont-category {
  &:before {
    content: '\e610';
  }
}

.iconfont-prize {
  &:before {
    content: '\e60e';
  }
}

.iconfont-jackpot {
  &:before {
    content: '\e629';
  }
}

.iconfont-plogs {
  &:before {
    content: '\e611';
  }
}

.iconfont-blacklist {
  &:before {
    content: '\e60c';
  }
}

.iconfont-mypage {
  &:before {
    content: '\e644';
  }
}

.iconfont-page {
  &:before {
    content: '\e64a';
  }
}

.iconfont-news {
  &:before {
    content: '\e644';
  }
}

.iconfont-poll {
  &:before {
    content: '\e657';
  }
}

.iconfont-classification {
  &:before {
    content: '\e64b';
  }
}

.iconfont-guest {
  &:before {
    content: '\e650';
  }
}

.iconfont-activity {
  &:before {
    content: '\e648';
  }
}

.iconfont-help {
  &:before {
    content: '\e65a';
  }
}

.iconfont-example {
  &:before {
    content: '\e65c';
  }
}

.iconfont-test {
  &:before {
    content: '\e65d';
  }
}

.iconfont-admin {
  &:before {
    content: '\e65e';
  }
}

.iconfont-lang {
  &:before {
    content: '\e65f';
  }
}

.iconfont-ads {
  &:before {
    content: '\e655';
  }
}

.iconfont-export {
  &:before {
    content: '\e663';
  }
}

.iconfont-rank{
  &:before {
    content: '\e661';
  }
}


.collapsed {
  #aside {
    width: 2.25rem;
    overflow: visible;

    .module {
      .module-anchor {
        &:after {
          content: '';
        }

        span {
          display: none;
        }
      }

      .folder-anchor {
        &:after {
          content: '';
        }
      }

      .folders {
        display: none;
        position: fixed;
        width: $aside_width;
        margin-top: -2.25rem;
        margin-left: 2.25rem;
        background-color: color($dark_blue alpha(98%));
      }
    }

    .module {
      &:hover {
        .folders {
          display: block;
        }
        .routes {
          display: block;
        }
      }
    }
  }
}

#aside {
  position: fixed;
  left: 0;
  top: $header_height;
  width: $aside_width;
  height: 100%;
  background-color: $dark_blue;
  overflow: auto;
  padding-bottom: calc($header_height + $footer_height);
  box-sizing: border-box;
  transition: width 200ms linear;

  a {
    display: block;
    padding-left: 0.75rem;
    box-sizing: border-box;
    color: color($white lightness(-20%));
    text-decoration: none;

    &:hover {
      color: $white;
    }
  }

  span {
    transition: opacity 100ms linear 100ms;
    white-space: nowrap;
  }

  .module-anchor {
    height: 2.25rem;
    line-height: 2.25rem;
    background-color: color($dark_blue lightness(+10%));
    border-top: 1px solid color($dark_blue lightness(+15%));
    border-bottom: 1px solid color($dark_blue lightness(-10%));
    position: relative;

    &:after {
      content: '＋';
      position: absolute;
      top: 0;
      right: 0.5rem;
      font-size: 120%;
      font-weight: bold;
    }
  }

  .module-active {
    .module-anchor {
      &:after {
        content: '－';
      }
    }

    .folders {
      display: block;
    }
  }

  .folder-anchor {
    padding-left: 1.5rem;
    height: 2.25rem;
    line-height: 2.25rem;
    background-color: color($dark_blue lightness(+5%));
    border-top: 1px solid color($dark_blue lightness(+10%));
    border-bottom: 1px solid color($dark_blue lightness(-5%));
    position: relative;

    &:after {
      content: '＋';
      position: absolute;
      top: 0;
      right: 0.5rem;
      font-size: 120%;
      font-weight: bold;
    }
  }

  .folder-active {
    .folder-anchor {
      &:after {
        content: '－';
      }
    }

    .routes {
      display: block;
    }
  }

  .folders {
    display: none;
  }

  .routes {
    display: none;
  }

  .route {
    a {
      padding-left: 2.25rem;
      height: 2.25rem;
      line-height: 2.25rem;
      border-bottom: 1px solid color($black alpha(10%));
    }
  }

  .folders {
    > .route {
      a {
        padding-left: 1.5rem;
      }
    }
  }

  .route-active {
    a {
      color: $white;
      background-color: color($black alpha(20%));
    }
  }
}
