#msgbox {
  position: fixed;
  z-index: 3;
  top: 0;
  left: 0;
  width: 100%;
}

.ui-message {
  margin: 0 auto 0.25rem;
  padding: 0.5rem;
  width: 50%;
  max-width: 16rem;
  min-width: 12rem;
  box-shadow: 0 0 0.25rem rgba(0, 0, 0, 0.3);
  .brief {
    word-break: break-all;
    word-wrap: break-word;
    text-align: center;
  }
  .detail {
    display: none;
    margin-top: 0.5rem;
    padding: 0.25rem;
    max-height: 16rem;
    overflow: auto;
    text-align: left;
    background: rgba(255, 255, 255, 0.5)
  }
  .close {
    cursor: pointer;
    float: right;
    margin-left: 0.25rem;
    width: 1.05rem;
    text-align: center;
    font-size: 0.9rem;
    line-height: 1.05rem;
    color: color($black lightness(60%));
    background-color: $white;
    border-radius: 50%;
    &:hover {
      color: color($black lightness(20%));
    }
  }
}

.ui-message-success {
  color: $text_success;
  background-color: $bg_success;
  .detail {
    color: color($text_success lightness(-10%));
  }
}

.ui-message-info {
  color: $text_info;
  background-color: $bg_info;
  .detail {
    color: color($text_info lightness(-10%));
  }
}

.ui-message-warning {
  color: $text_warning;
  background-color: $bg_warning;
  .detail {
    color: color($text_warning lightness(-10%));
  }
}

.ui-message-danger {
  color: $text_danger;
  background-color: $bg_danger;
  .detail {
    color: color($text_danger lightness(-10%));
  }
}
