.ui-grid-nest {
  $width: 1px;
  $color: color($white lightness(-6%));

  .content {

    border: $width solid $color;

    button {
      cursor: pointer;
      margin: 0 0.25rem 0 0;
      padding: 0 0.25rem;
      line-height: 1.1rem;
      color: color($orange hue(+180deg) lightness(-20%));
      background: none;
      border: none;

      &:hover {
        color: $orange;
      }

      &[disabled] {
        color: color($orange saturation(0%));
        cursor: not-allowed;

        &:hover {
          color: color($orange saturation(0%));
        }
      }
    }

    .button-sep {
      cursor: default;
      color: color($white lightness(-10%));

      &:hover {
        color: color($white lightness(-10%));
      }
    }
  }

  table {
    border-collapse: collapse;
    width: 100%;
  }

  .nested {
    th, td {
      text-align: left;
    }
  }

  td, th {
    position: relative;
    padding: 0.25rem;
    border-right: $width solid $color;
    border-bottom: $width solid $color;
    border-left-width: 0px;
    border-top-width: 0px;
    text-align: center;
    line-height: 2.2857142857142856;
    &.numeric {
      text-align: right;
    }
    &.check-cell {
      text-align: center;
    }
    &:last-child {
      border-right-width: 0px;
    }
  }

  th {
    font-weight: bold;
    &:first-child {
      border-right: $width solid $color;
    }
  }

  thead {
    th {
      border-bottom: $width solid $color;
      cursor: default;
      border-bottom-width: 2px;
    }
  }

  tfoot {
    th, td {
      border-top: $width solid $color;
    }
  }

  tbody, tfoot {
    tr:last-child {
      th, td {
        border-bottom-width: 0px;
      }
    }
  }

  [data-value] {
    &:empty {
      &:after {
        content: attr(data-value);
      }
    }
  }

  [data-sort] {
    cursor: default;

    &:after {
      content: '\e654';
      font-family: 'iconfont';
      font-style: normal;
      font-size: 120%;
      font-weight: normal;
      margin-left: 0.3em;
      color: color($white lightness(-30%));
    }
  }

  [data-sort="asc"] {
    &:after {
      content: '\e652';
      color: color($white lightness(-60%));
    }
  }

  [data-sort="desc"] {
    &:after {
      content: '\e653';
      color: color($white lightness(-60%));
    }
  }

  td {
    background-color: $white;
  }

  tr:nth-child(odd) td {
    background-color: color($color lightness(+3%));
  }

  tr:hover td {
    background-color: $color;
  }

  td span, td label {
    display: inline-block;
    vertical-align: middle;
    max-width: 15rem;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  td a {
    text-decoration: underline;

    &:hover{
      color: $light_blue;
    }
  }

  .nest-indenter {
    display: inline-block;
    vertical-align: middle;
    margin-right: -0.4em;
    width: 2px;
    height: 2px;
    visibility: hidden;
  }

  .nest-expander {
    font-style: normal;
    display: inline-block;
    vertical-align: middle;
    border: 1px solid color($white lightness(-20%));
    width: 1em;
    height: 1em;
    user-select: none;
    line-height: 1;
    text-align: center;
    &:hover {
      color: $orange;
    }
    &:before {
      content: "+";
    }
  }

  .nest-indenter-1,
  .nest-expander-1 {
    margin-left: 1.4em;
  }

  .nest-indenter-2,
  .nest-expander-2 {
    margin-left: 2.8em;
  }

  .nest-indenter-3,
  .nest-expander-3 {
    margin-left: 4.2em;
  }

  .nest-indenter-4,
  .nest-expander-4 {
    margin-left: 5.6em;
  }

  .nest-indenter-5,
  .nest-expander-5 {
    margin-left: 7em;
  }

  .nest-expander-expanded {
    &:before {
      content: "-";
    }
  }

  /*inline edit*/

  .ui-grid-edit-field {
    padding: 0.25rem;
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    box-sizing: border-box;
    text-align: inherit;
    background-color: inherit;

    .ui-grid-edit-textarea,
    .ui-grid-edit-input {
      width: 100%;
      height: 100%;
      border: 1px solid color($black lightness(80%));
      padding: 0.2rem 0.3rem;
      background-color: $white;
      outline: none;
      box-sizing: border-box;
      text-align: inherit;

      &:hover,
      &:focus {
        border-color: $light_blue;
      }

      &[readonly] {
        background-color: color($white lightness(-6%));
      }

      &[disabled] {
        background-color: color($white lightness(-3%));
      }
    }

    .ui-select-trigger {
      margin: 0 auto;
      text-align: left;
      text-decoration: none;
    }
  }

  .ui-grid-edit-buttons {
    padding: 0.25rem;
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    box-sizing: border-box;
    text-align: inherit;
    background-color: inherit;
    white-space: nowrap;

    &:hover {
      background-color: $color;
    }

    button {
      color: color($orange lightness(-20%));
    }
  }

  /*tr.ui-grid-edit-inline {
    td {
      background-color: color($orange saturation(100%) lightness(95%));
    }
  }*/
}
