/* paddings */

.padding {
  padding: 20px;
}

/* font-sizes */

.fs-64 {
  font-size: 64px;
}

.fs-48 {
  font-size: 48px;
}

.fs-32 {
  font-size: 32px;
}

.fs-24 {
  font-size: 24px;
}

.fs-16 {
  font-size: 16px;
}

/* alignments */

.left {
  text-align: left;
}

.center {
  text-align: center;
  align-self: center;
}

.right {
  text-align: right;
}

.rotate90 {
  transform: rotate3d(0, 0, 1, 90deg);
}

.rotate90n {
  transform: rotate3d(0, 0, 1, -90deg);
}
