.c-reddot {
  position: relative;

  &::after {
    content: ' ';
    position: absolute;
    right: -6px;
    top: -6px;
    width: 12px;
    height: 12px;
    background-color: var(--secondary);
    border-radius: 50%;
  }
}
