<!DOCTYPE html>
<html dir="ltr">
  <head>
    <meta charset="utf-8">
    <title><%= htmlWebpackPlugin.options.title %></title>
    <!-- postcss-flexible is required -->
    <script src="scripts/lib.flexible.js"></script>
    <!--
    <script>
      // if want to use local h5 app,
      // make sure to set native fetch to null
      window.fetch = null
    </script>
     -->
  </head>
  <body ontouchstart="">
    <div id="app"></div>
    <!-- built files will be auto injected -->
  </body>
</html>
