<!DOCTYPE html>
<html dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta name="generator" content="platojs">
    <title><%= htmlWebpackPlugin.options.title %></title>
    <script src="scripts/lib.flexible.js"></script>
  </head>
  <body ontouchstart="">
    <div id="app"></div>
  </body>
</html>
