<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=0">
    <title><%= htmlWebpackPlugin.options.title %></title>
    <% if (webpackConfig.__DEV__) { %>
    <script>
      window.onerror = function (e) {
        alert(e)
      }
    </script>
    <% } %>
  </head>
  <body>
    <app></app>
    <!-- built files will be auto injected -->
  </body>
</html>
